body {
  margin: 0px;
  background: #DE4A63;
}
ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
em {
  font-style: normal;
}
.clear:after {
  content: '';
  display: block;
  clear: both;
}
.box {
  width: 1136px;
  height: 766px;
  background: #de4a63;
  margin: 0px auto;
}
.box div:nth-child(1) {
  height: 175px;
  text-align: center;
}
.box div:nth-child(1) i {
  display: inline-block;
  width: 241px;
  height: 61px;
  background: url(img/logo.jpg) no-repeat;
  margin-top: 56px;
}
.box div:nth-child(2) {
  height: 442px;
  width: 1002px;
  margin-bottom: 10px;
  margin-left: 70px;
  position: relative;
}
.box div:nth-child(2) ul {
  width: 240px;
  height: 442px;
  background: #fff;
  position: absolute;
  top: 0px;
}
.box div:nth-child(2) ul li:nth-child(1) {
  height: 40px;
  background: #171717;
  color: #dd536a;
}
.box div:nth-child(2) ul li:nth-child(1) input {
  width: 153px;
  height: 26px;
  background: none;
  border: 0px;
  border-bottom: 2px solid #873646;
  margin: 5px 15px 0px 20px;
  color: #dd536a;
  outline: none;
}
.box div:nth-child(2) ul li:nth-child(2) {
  width: 200px;
  height: 30px;
  margin: 29px auto 25px;
  line-height: 30px;
  color: #696969;
}
.box div:nth-child(2) ul li:nth-child(2) em {
  vertical-align: middle;
}
.box div:nth-child(2) ul li:nth-child(2) img {
  width: 15px;
  height: 26px;
  vertical-align: middle;
}
.box div:nth-child(2) ul li:nth-child(3) {
  width: 181px;
  height: 171px;
  margin: 0px auto;
}
.box div:nth-child(2) ul li:nth-child(4) {
  text-align: center;
  font: bold 15px/15px "微软雅黑";
  margin-top: 32px;
}
.box div:nth-child(2) ul li:nth-child(5) {
  text-align: center;
  font: bold 15px/15px "微软雅黑";
  color: #7a7a7a;
  margin-top: 30px;
}
.box div:nth-child(2) ul li:nth-child(5) em {
  color: #d6475d;
}
.box div:nth-child(2) ul:nth-child(1) {
  left: 0px;
}
.box div:nth-child(2) ul:nth-child(2) {
  left: 250px;
}
.box div:nth-child(2) ul:nth-child(3) {
  left: 500px;
}
.box div:nth-child(2) ul:nth-child(4) {
  left: 750px;
}
.box div:nth-child(3) {
  height: 42px;
  width: 998px;
  background: #171717;
  margin: 0px auto;
  color: #fff;
  line-height: 42px;
  text-indent: 32px;
}
.box div:nth-child(3) span:nth-child(1) {
  margin-right: 420px;
}
.box div:nth-child(4) {
  height: 31px;
  text-align: center;
  color: #fff;
  margin-top: 67px;
}
#mark {
  width: 240px;
  height: 442px;
  background: #000000;
  opacity: 0.8;
  position: absolute;
  top: 0px;
  left: 0px;
  text-align: center;
  display: none;
}
#mark i {
  width: 132px;
  height: 132px;
  display: inline-block;
  margin-top: 140px;
  opacity: 0;
  transform: scale(2);
  transition: .5s;
  background: -5px -5px url(img/out.png) no-repeat;
}
table thead{
  width:998px;
}
tbody{
  background: #fff;
  transition: .5s;
}
table th{
  width:330px;
}
tbody td:nth-of-type(1){
  color: #000;
  text-align: center;
  font-weight: bold;
}
tbody td:nth-of-type(2){
  color: hotpink;
  text-align: center;
  font-weight: bold;
}
tbody td:nth-of-type(3){
  text-align: center;
}
tbody td:nth-of-type(3) > img{
  vertical-align: middle;
}

